@import url('https://fonts.googleapis.com/css2?family=Alata&family=Jersey+20&display=swap');

* {
    background-color: #444545;
}

header {
    position:fixed;
    text-align: left;
    width:100%;
    top:0;
    font-family: "Jersey 20", sans-serif;
    color: #F0E7D8;
}
