#urlcontainer {
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#urlcontainer button, #urlcontainer input {
    font-size:2rem;
  font-family: "Jersey 20", sans-serif;
    color:black;
}